body{
    background-color: rgba(0, 0, 255, 0.774);
}
.container{
    display:flex;
    flex-direction: column;
}

.box1{
    display:block;
    padding:10px;
}

.box2{
    display: block;
    background-color: darkblue;
    
}
.box3{
    text-align:center;
}
.box4{
    text-align:left;
    /*display:none;*/
    padding:10px;
}
h1, h3{
    text-align: center;
}
p{
    font-size:18px;
}

.box1, .box2, .box4{
    border: 1px solid black;
    margin: 12px;
}
