body{
    background-color: rgba(0, 0, 255, 0.774);
}
.container{
    display:flex;
    flex-direction: column;
}

.box1{
    display:block;

}

.box2{
    display: block;
    background-color: darkblue;
    
}
.box3{
    text-align:center;
}
.box4{
    display:flex;
    display:none;
    
}
h1, h3, p{
    text-align: center;
}

.box1, .box2, .box4{
    border: 1px solid black;
    margin: 12px;
}
